@{
    var controllerName = this.ViewContext.RouteData.Values["controller"].ToString().ToLower();
    var actionName = this.ViewContext.RouteData.Values["action"].ToString().ToLower();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProjetoTelecon</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ProjetoTelecon.styles.css" asp-append-version="true" />
</head>
<body>
    @if (controllerName != "login")
    {
        <header>
            <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
              <div class="container-fluid">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link active" href="#"><strong>Telecomvocê!</strong></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="~/home/index">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Pacotes</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Serviços</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Meu perfil</a>
                  </li>
                  @if (!String.IsNullOrEmpty(ViewBag.LevelUser) && ViewBag.LevelUser == "admin")
                  {
                      <a class="nav-link bg-danger rounded-1" href="~/admin/index" id="navbarButton" role="button" >
                        Admin
                      </a>
                  }
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
              </div>
            </nav>
        </header>
    }

    
    <div class="container">
        <main role="main" class="pb-3">
            @if (!String.IsNullOrEmpty(ViewBag.Msg))
            {
                <div class="alert alert-dismissible fade show" role="alert" style="@(ViewBag.MsgType == "danger" ? "background-color: #DC3545;" : "background-color: #198754;"  ) ">
                    <strong>@ViewBag.Msg</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
            @RenderBody()
        </main>
    </div>

    @if (controllerName != "login")
    {
        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2022 - ProjetoTelecon - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>
    }
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
